body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  padding: 50px;
}

input, select, button {
  display: block;
  width: 250px;
  margin: 10px auto;
  padding: 10px;
}

button, .btn {
  background: #00ff88;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
}


